{{! template-lint-disable no-inline-styles}}
<div local-class="btn-slot" ...attributes>
  <button
    local-class="btn {{this.animationClass}}"
    type="button"
    style={{this.buttonStyle}}
    {{on "mousedown" this.animateClick}}
    {{on "mouseup" this.stopAnimateClick}}
    {{ref this "button"}}
  >
    {{yield}}
  </button>
</div>